<div class="container-fluid">
  <div class="row">
    <div class="col-2" *ngFor="let obj of objs">
      <div class="card" [ngSwitch]="obj.input.type">
        <div *ngSwitchCase="inputType('SELECT')">
          <div class="card-header" (click)="input.init()">{{obj.name}}</div>
          <div class="card-block">
            <input-select [sqlText]="obj.input.value" #input></input-select>
            <button (click)="displayDetails(input.params,obj.input.value)">submit</button>
          </div>
        </div>
        <div *ngSwitchCase="inputType('INPUT')">
          <div class="card-header" (click)="input.init()">{{obj.name}}</div>
          <div class="card-block">
            <input-input #input></input-input>
            <button (click)="displayDetails(input.params,obj.input.value)">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>