.card {
  margin-right: .2rem;
}

.card-header {
  padding: .2rem .2rem .2rem .2rem;
  background-color: #E0E0E0
}

.card-block {
  padding: .2rem .2rem .2rem .2rem;
}

.col-2 {
  padding: 0rem 0rem 0rem 0rem
}

/*.row {
  margin: .2rem .2rem .2rem .2rem
}*/
